<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>上传图片</title>
</head>
<body>

<form enctype="multipart/form-data" id="biaodan" name="biaodan" method="post" action="/cuigelasi/allupload/" >
<div style="text-align:center">
<br><b><BIG>LFD新闻网</BIG></b><br>
<br>请上传封面图像：<input type="file" id="fengmiantuxiang" name="fengmiantuxiang" /><br>
<br>请上传文章图像：<input type="file" id="tuxiang" name="tuxiang" /><br>
<div style="margin-left:-64px"><br>请输入文章标题：<input type="text" id="biaoti" name="biaoti" /><br></div>
<div style="margin-left:-64px"><br>请输入图片标题：<input type="text" id="TBbiaoti" name="TBbiaoti" /><br></div>
<div style="margin-left:-4px"><br>请输入文章内容：<textarea  id="neirong" name="neirong" cols="30" rows="10"></textarea><br></div>
<br><input type="submit" id="anliu" name="anliu" value="上传" />
</div>
</form>
</body>
</html>
